.sldsbox1{
    border:10px solid red;
    border-width:200px;
    padding:100px;
    background-color: aquamarine;
    color: blue;

}
h1{
    color:green;
    background-color: azure;
    font-style: italic;


}